{% extends 'MyInventoryApp/base.html' %}
{% load static %}
{% block content %}
<div class="card mx-auto w-75 border-danger">
    <div class="card-header">
        Suppliers
    </div>
    <div class="card-body" style="max-height: 600px; overflow-y: auto;">
        <a href="{% url 'add_bottle' %}" class="btn btn-primary">Add Water Bottles</a>
        <a href="{% url 'manage_account' current_user_id %}" class="btn btn-secondary">Manage Account</a>
        <a href="{% url 'login_view' %}" class="btn btn-danger">Logout</a>
        {% for supplier in suppliers %}
            <ul class="list-group list-group">
                <li class="list-group-item">
                    <a href="{% url 'view_bottles' %}">{{ supplier.name }} - {{ supplier.city }}, {{ supplier.country }} created at {{ supplier.created_at }}</a>
                </li>
            </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}
