{% extends 'tapasapp/base.html' %}

{% block nav_actions %}{% endblock %}

{% block content %}

<div class = "col-md-6 offset-md-3">
    <div class="p-3 text-white text-center" style="background-color: #590404; border-radius: 5px 5px 0 0;">
        <h4 class="mb-0">Login</h4>
    </div>
    <div class="p-4 border bg-white" style="border-radius: 0 0 5px 5px;">
        {% if error_message %}
            <div class = "alert {% if 'success' in error_message %}alert-success{% else %}alert-danger{% endif %} text-center"> {{error_message}}  </div>
        {% endif %}

        {% if error %}
            <div class = "alert alert-danger text-center"> {{error}}  </div>
        {% endif %}

        <form method="POST" action="{% url 'login' %}"> {% csrf_token %}
                <div class=mb-3>
                    <label class ="form-label">Username</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class=mb-3>
                    <label class ="form-label">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn text-white w-100" style="background-color: #590404;">
                    Login
                </button>
            </form>
            <div class = "mt-4 text-center">
                Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>
            </div>
    </div>
</div>
{% endblock %}